@{
    ViewBag.Title = "Login";
}

<h2>Użytkownik nie ma prawa dostępu do sekcji</h2>
<br />
<p>By rozwiązać ten problem zaloguj się na konto użytkownika mającego wymagane uprawnienia,<br />
bądz skontaktuj się z administratorem systemu</p>
